<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!--<h1>{{ name }}</h1>
      <div v-on:click="changeName('Steve')">Click me!</div>
        ////////////////////////////////////////////////////
      <form v-on:submit.prevent="handleForm">
        <input type="text" />
        <button type="submit">Submit</button>
      </form>
      //////////////////////////////////////////////////////
      -->
      <form v-on:submit.prevent="formHandler">
        <label>Name</label>
        <input type="text" v-model="formData.name" />
        <hr />

        <label>Lastname</label>
        <input type="text" v-model="formData.lastname" />
        <hr />

        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
  <script>
    new Vue({
      el: "#app",
      data: {
        formData: {
          name: "",
          lastName: "",
        },
      },
      methods: {
        formHandler() {
          console.log(this.formData);
        },
      },
    });
  </script>
</html>
